@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <base href="/"/>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <title>RazorHx</title>
</head>

<body hx-boost="true">
<h1>SecondLayout</h1>
@Body
</body>

</html>